<!DOCTYPE html>
<html>
  <head>
    <title>Apartment Quirks</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://res.cloudinary.com/aptquirks/image/upload/v1507407412/quirks-logo_hsygfd.gif">
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['maps_key']}&libraries=places" %>
    <%= javascript_include_tag 'application' %>
    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript" async></script>
    <script>
      
    </script>
    <script type="text/javascript" async>
        window.cloudinary_options = {
          cloud_name: '<%= ENV['cloud_name'] %>',
          upload_preset: '<%= ENV['upload_presets']  %>',
          secure: true,
          theme: "minimal",
          cropping: 'server',
          cropping_aspect_ratio: 1,
          cropping_show_dimensions: true
        }
        window.cloudinary_options_no_crop = {
          cloud_name: '<%= ENV['cloud_name'] %>',
          upload_preset: '<%= ENV['upload_presets']  %>',
          secure: true,
          theme: "minimal",
        }
    </script>
    <script src="https://cdn.ravenjs.com/3.25.1/raven.min.js" crossorigin="anonymous" async></script>
    <script async>
      Raven.config('https://900b0f689cca43ee8f1f56be71debfad@sentry.io/1205227').install()
    </script>
  </head>

  <body id="body">
    <%= yield %>
  </body>
</html>
