<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172860658-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-172860658-1');
    </script>
    <title>Apartment Quirks</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
    <link rel="icon" href="https://res.cloudinary.com/aptquirks/image/upload/v1596728043/Screen_Shot_2020-08-06_at_11.33.20_AM_xgqzky.png">
    <%= csrf_meta_tags %>
    <!-- Facebook Pixel Code -->
      <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '398399727035268');
        fbq('track', 'PageView');
      </script>
      <noscript>
        <img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=398399727035268&ev=PageView&noscript=1"
        />
      </noscript>
    <!-- End Facebook Pixel Code -->
  </head>
  <body id="body">
  <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=907197889774664&autoLogAppEvents=1" nonce="KV3ceLtl"></script>
    <%= yield %>
  </body>
  <div id="fb-root"></div>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['maps_key']}&libraries=places" %>
  <%= javascript_include_tag 'application' %>
  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript" async></script>
  <script type="text/javascript" async>
      window.cloudinary_options = {
        cloud_name: '<%= ENV['cloud_name'] %>',
        upload_preset: '<%= ENV['upload_presets']  %>',
        secure: true,
        theme: "minimal",
        cropping: 'server',
        cropping_aspect_ratio: 1,
        cropping_show_dimensions: true
      }
      window.cloudinary_options_no_crop = {
        cloud_name: '<%= ENV['cloud_name'] %>',
        upload_preset: '<%= ENV['upload_presets']  %>',
        secure: true,
        theme: "minimal",
      }
  </script>
  <script src="https://cdn.ravenjs.com/3.25.1/raven.min.js" crossorigin="anonymous" async></script>
  <script async>
    Raven.config('https://900b0f689cca43ee8f1f56be71debfad@sentry.io/1205227').install()
  </script>
</html>